body{

background:#EAF6FF;

font-family:Arial;

}

.contenedor{

width:350px;

margin:60px auto;

background:white;

padding:30px;

border:1px solid #B5DFFF;

}

h1{

text-align:center;

color:#0B3C7D;

}

h2{

text-align:center;

color:#2196F3;

}

input[type=text],
input[type=email],
input[type=password]{
    
width:100%;
padding:8px;
border:1px solid #90CAF9;
box-sizing:border-box;
margin-top:5px;

}

input[type=submit]{

width:100%;

padding:10px;

background:#2196F3;

color:white;

border:none;

}

p{

text-align:center;

}

a{

text-decoration:none;

color:#1565C0;

}

/* RESPONSIVE */

@media(max-width:768px){

.contenedor{

width:90%;

margin:40px auto;

}

}